@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inria+Serif:wght@300&family=Open+Sans:wght@300&family=Playfair+Display:ital@0;1&family=Roboto&family=Solway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background: white;
}

.container {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: relative;
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(79, 81, 211);
    gap: 10px;
    padding-bottom: 70px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #005); */
}

.container h2 {
    color: black;
    font-weight: 500;
}

.inputBox {
    position: relative;
    width: 100%;
}

#myPassword {
    border-radius: 5px;
    position: relative;
    width: 100%;
    background: rgb(231, 230, 230);
    border: none;
    outline: none;
    padding: 10px;
    color: #111;
    font-size: 1.1em;
}

.container .strenythMeter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #222;
}

.container .strenythMeter::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    transition: 0.5s;
    background: #f00;
}



.container.weak .strenythMeter::before {
    width: 10%;
    background: #f00;
    filter: drop-shadow(0 0 5px #f00) drop-shadow(0 0 10px #f00) drop-shadow(0 0 20px #f00);
}

.container.medium .strenythMeter::before {
    width: 65%;
    background: #ffa500;
    filter: drop-shadow(0 0 5px #ffa500) drop-shadow(0 0 10px #ffa500) drop-shadow(0 0 20px #ffa500);
}

.container.strong .strenythMeter::before {
    width: 100%;
    background: #0f0;
    filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 10px #0f0) drop-shadow(0 0 20px #0f0);
}

.strenythMeter::after {
    position: absolute;
    top: -45px;
    left: 40px;
    color: #fff;
    transition: 0.5s;
}

.show {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 60px;
    border-radius: 11px;
    height: 100%;
    background: #333;
    border: 6px solid rgb(231, 230, 230);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show::before {
    content: 'show';
    font-size: 0.6em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.show.hide::before {
    content: 'hide';
}